.navbarmolecule-menu {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
  background-color: var(--dl-color-default-bge7e4d8);
}
.navbarmolecule-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarmolecule-navbar-logo {
  width: 68px;
  height: 68px;
  border-color: transparent;
}
.navbarmolecule-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}










