.footermolecule-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: #1e1e1e;
}
.footermolecule-body {
  color: rgba(255, 255, 255, 1);
  height: auto;
  padding: var(--dl-space-space-threeunits);
  font-size: 14px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Archivo;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footermolecule-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footermolecule-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.footermolecule-container2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footermolecule-recurso12150x1 {
  width: 84px;
  height: 18px;
  border-color: transparent;
}
.footermolecule-text1 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Archivo;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footermolecule-text3 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Archivo;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footermolecule-text5 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Archivo;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}









