.timestampatom-container {
  display: flex;
  position: relative;
}
.timestampatom-text {
  color: rgb(0, 0, 0);
  height: auto;
  position: relative;
  font-size: 11.8684px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Archivo Expanded;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
