.directory-container {
    width: 100%;
    border-radius: 20px;
    background-color: #dbd8cc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.directory-title {
    font-size: 25px;
    font-family: Archivo;
    text-transform: uppercase;
    margin: 0;
}
.directory-user {
    font-style: normal;
    font-family: Archivo;
    font-weight: 500;
}
