.valuemolecule-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.valuemolecule-text {
  font-size: 24px;
  font-family: Archivo;
}
.valuemolecule-text1 {
  font-family: Quattrocento;
}
.valuemolecule-root-class-name {
  top: 291px;
  left: 650px;
  position: static;
}
