.legend {
    color: var(--light);
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Archivo;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
