.infomolecule-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.infomolecule-header {
  font-size: 32px;
  font-style: normal;
  font-family: Archivo;
  font-weight: 600;
}
.infomolecule-description {
  font-size: 20px;
  font-family: Archivo;
}
.infomolecule-root-class-name {
  top: 312px;
  left: 752px;
  position: static;
}
