.stepatom-container {
  display: flex;
  position: relative;
}
.stepatom-text {
  color: var(--dl-color-default-nfa7200);
  font-size: 20px;
  font-style: normal;
  font-family: Archivo;
  font-weight: 800;
}
